<!DOCTYPE html>
<html>
    <body>
        <h1>DeviantArt scrapper dashboard</h1>
        <h2>Stats</h2>
        <h3>Users found : <%= found %></h3>
        <h3>Users saved : <%= saved %></h3>
    </body>
</html>